.popup__button-save {
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    width: 358px;
    margin-left: 36px;
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.popup__button-save:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__button-save {
        max-width: 238px;
        margin-left: 22px;
    }
}