.profile__button-edit {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    margin-left: 18px;
    background: none;
    white-space: nowrap;
    background-image: url("../../../images/editButton.svg");
}

@media screen and (max-width: 500px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        white-space: nowrap;
        background-size: 18px;
    }
}
