.header__logo {
    opacity: 1;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 1000px) {
    .header__logo {
        width: 104px;
        height: 24.5px;
        margin-left: 27px;
    }
}