.popup__input-name {
    width: 358px;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 0;
    margin-left: 36px;
    margin-top: 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #000000;
}

.popup__input-name:focus {
    border: none;
    border-bottom: 3px solid rgb(70, 70, 70);
}

@media screen and (max-width: 500px) {
    .popup__input-name {
        max-width: 238px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
        color: #000000;
        margin-left: 22px;
        margin-top: 62px;
    }
}