.card__caption-like {
    border: none;
    width: 22px;
    height: 19px;
    background-color: aliceblue;
    background-image: url("../../../images/like.svg");
    margin-top: auto;
    margin-bottom: auto;
}