.popup__button-close {
    position: fixed;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    background-image: url("../../../images/closeIcon.svg");
    background-position:center;
    background-repeat:no-repeat;
    top: 155px;
    right: calc((100vw / 2) - 270px);
    padding: 0;
    z-index: 3;
} 

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__button-close {
        width: 20px;
        top: 87px;
        right: calc(100vw - 301px);
        background-size: 20px;
    }
}