.profile__button-add {
    grid-row: 1 / span 2;
    grid-column: 3;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
    width: 150px;
    line-height: 50px;
    background: none;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -12;
    font-size: 40px;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .profile__button-add {
        grid-row: 4;
        grid-column: 1;
        width: 282px;
        font-size: 30px;
        margin-top: -8px;
        line-height: 47px;
    }
}