@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__caption-like/card__caption-like.css);
@import url(../blocks/card/__caption-title/card__caption-title.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__person-job/profile__person-job.css);
@import url(../blocks/profile/__person-name/profile__person-name.css);